@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sens-serif;
}

#__next {
  background: linear-gradient(135deg, rgb(1, 1, 135) 0%, rgb(24, 0, 14) 100%);
}
