<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      div.main {
        max-width: 500px;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }

      a {
        text-decoration: none;
        color: #0072f5;
      }

      h1 {
        margin: 0;
      }

      div.inner
    </style>
  </head>
  <body>
    <div class="main">
      <h1><a href="https://secret.hrvs.me">Secretly</a></h1>
      <div class="inner">

      </div>
    </div>
  </body>
</html>
